/mvnw text eol=lf
*.cmd text eol=crlf

# Frontend dosyalarını dil istatistiklerinden muaf tut
frontend/** linguist-detectable=false
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false

